# Springboot will need this
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_URL=
FLYWAY_ENABLED=true
POSTGRES_DB=

# Postgres container will need these
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

FLYWAY_ENABLED=